<div class="bg-theme footer">
    <div class="content">
        <div class="container">
            <div class="row py-5">
                <div class="col-3">
                    <ul>
                        บทเรียน
                        <li>
                            <a href="{{ path_for('chapter-1') }}">การแพร่และการออสโมซิส</a>
                        </li>
                        <li>
                            <a href="{{ path_for('chapter-2') }}">การสังเคราะห์แสงของพืช</a>
                        </li>
                    </ul>
                </div>
                <div class="col-3">
                    <ul>
                        แบบฝึกหัด
                        <li>
                            <a href="{{ path_for('exercise-1') }}">บทที่ 1</a>
                        </li>
                        <li>
                            <a href="{{ path_for('exercise-2') }}">บทที่ 2</a>
                        </li>
                        <li>
                            <a href="{{ path_for('exercise-3') }}">บทที่ 3</a>
                        </li>
                    </ul>
                </div>
                <div class="col-3">
                    <ul>
                        <li>
                            <a href="{{ path_for('about-us') }}">เกี่ยวกับเรา</a>
                        </li>
                        <li>
                            <a href="{{ path_for('contact-us') }}">ติดต่อเรา</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="createBy text-center">
                <h4>จัดทำโดย นาย อโณชา กาญจนาถาวร 57122201144</h4>
            </div>
        </div>
    </div>
</div>