<div class="bg-theme footer">
    <div class="container">
        <div class="row py-5">
            <div class="col-3">
                {% if chapter %}
                    <ul>
                        บทเรียน
                        {% for item in chapter %}
                            <li>
                                <a href="{{ path_for('home') }}">{{ item.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="col-3">
                {% if exercise %}
                    <ul>
                        แบบฝึกหัด
                        {% for item in items %}
                            <li>
                                <a href="{{ path_for('home') }}">{{ item.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="col-3">
                <ul>
                    <li>
                        <a href="{{ path_for('about-us') }}">เกี่ยวกับเรา</a>
                    </li>
                    <li>
                        <a href="{{ path_for('contact-us') }}">ติดต่อเรา</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="createBy text-center">
            <h4>จัดทำโดย นาย อโณชา กาญจนาถาวร 57122201144</h4>
        </div>
    </div>
</div>