<nav class="navbar navbar-expand-lg navbar-light bg-theme">
    <div class="container">
        <a class="navbar-brand" href="{{ path_for('') }}">Logo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="{{ path_for('') }}navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path_for('') }}">หน้าแรก
                        <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{{ path_for('') }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        บทเรียน
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path_for('') }}">การแพร่และการออสโมซิส</a>
                        <a class="dropdown-item" href="{{ path_for('') }}">การสังเคราะห์แสงของพืช</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{{ path_for('') }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        แบบทดสอบ
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path_for('') }}">บทที่ 1</a>
                        <a class="dropdown-item" href="{{ path_for('') }}">บทที่ 2</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path_for('') }}">เกี่ยวกับเรา</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path_for('') }}">ติดต่อเรา</a>
                </li>
            </ul>
            <ul class="navbar-nav float-right">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path_for('register') }}">ลงทะเบียน</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path_for('log-in') }}">เข้าสู่ระบบ</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
